html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.gb {
  cursor: pointer;
}

.authButton {
  background-color: #6379f4;
  border: #6379f4;
  color: #dadada;
  width: 80%;
  height: 45px;
  border-radius: 12px;
  margin: 15% 2% 5%;
}
.authButton:focus {
  background-color: #dadada;
  border: #dadada;
  color: #6379f4;
}

.buttonPosition {
  justify-content: end;
}

.mainButton {
  background-color: #6379f4;
  border: #6379f4;
  color: white;
  width: 120px;
  height: 45px;
  border-radius: 12px;
  margin: 5% 3%;
}

.notification {
  width: 350px;
  height: 600px;
  overflow-y: scroll;
}

.content-card {
  border-radius: 5px;
  border: white solid;
  box-shadow: #e5e5e5 0px 1px 5px 1px;
  padding: 5px;
}

.profile-content-card {
  border-radius: 5px;
  background-color: gray;
  border: white solid;
  box-shadow: #e5e5e5 0px 1px 5px 1px;
  padding: 5px;
}

.content-card:hover {
  border: #fafafa solid;
  background-color: #fafafa;
}

/* .................................... */

.pinBox {
  display: inline-block;
  overflow: hidden;
  position: relative;
  color: #6379f4;
}
.pinBox:before {
  color: #6379f4;
  content: "";
  pointer-events: none;
  display: block;
  height: 50px;
  position: absolute;
  width: 212px;
  background-image: url("https://rgwit.ams3.digitaloceanspaces.com/images/box.svg");
}

.pinEntry {
  color: #6379f4;
  padding: 2px 11px;
  font-family: courier, monospaced;
  font-size: xx-large;
  border: none;
  outline: none;
  width: 7em;
  letter-spacing: 15px;
  background-color: transparent;
}

.authResponsive {
  display: flex;
  flex-direction: row;
}
.authForm {
  flex: 6;
  margin-left: 20px;
}
.authTitle {
  display: none;
}

.pointer {
  cursor: pointer;
}

.userDashboard {
  justify-content: flex-end;
  width: 75%;
}

.m6 {
  padding-top: 12%;
}

.cardDashboard {
  width: 1200px;
}
.childern {
  flex: 8;
}

.tooltipMain {
  flex: 3;
}

/* ......dashboard...... */

.headDashboard {
  display: flex;
  align-items: center;
}
.belence {
  flex: 1;
}
.balanceDashboard {
  font-size: 40px;
}
.buttonDashboard {
  flex: 1;
}
.buttonDashboardResponsive {
  display: none;
}
.historyDashboard {
  flex: 5;
  padding: 7%;
}
.graphDashboard {
  flex: 5;
  margin-right: 20px;
}

/* ............ Transfer ........... */

.profileTransfer {
  flex: 1;
}
.noteForTransfer {
  justify-content: center;
  align-items: center;
}
.imageTransfer {
  margin-right: 10px;
}
.noteTransfer {
  /* flex: 7; */
  width: 100px;
}

/* ........... Profile ............... */

.profileButton {
  width: 50%;
}

/* ...... Leanding Page .......  */

@media (max-width: 1000px) {
  .authLayer {
    display: none;
  }
  .authResponsive {
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
  }
  .authForm {
    flex: 12;
  }
  .authTitle {
    display: flex;
    margin-bottom: 10%;
    margin-left: 3%;
  }
  .logoDashboard {
    display: none;
  }
  .tooltipMain {
    display: none;
  }
  .userDashboard {
    justify-content: space-between !important;
    width: 100%;
  }
  .childern {
    flex: 12;
  }
  .cardDashboard {
    margin-top: 8%;
    width: 100%;
  }
  .buttonDashboard {
    display: none;
  }
  .buttonDashboardResponsive {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  .footer {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .profileButton {
    width: 60%;
  }
}

@media (max-width: 500px) {
  .cardDashboard {
    margin-top: 20%;
  }
  .balanceDashboard {
    font-size: 30px;
  }
  .buttonPosition {
    justify-content: center;
    align-items: center;
  }
  .noteTransfer {
    padding-right: 15px;
  }
  .profileButton {
    width: 80%;
  }
}

@media (max-width: 400px) {
  .cardDashboard {
    margin-top: 22%;
  }
  .balanceDashboard {
    font-size: 25px;
  }
}
